<!--[if IE]><![endif]-->
<!DOCTYPE html>
<!--[if IE 9]>         <html dir="{{dir}}" lang="{{lang}}" class="no-js ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html dir="{{dir}}" lang="{{lang}}" class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{title}}</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- For old IEs -->
<link rel="shortcut icon" href="{{webroot}}favicon.ico" />
<!-- For new browsers multisize ico  -->
<link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="{{webroot}}favicon.ico">
</head>
<body class="{{dir}}">
<div class="container-fluid" id="container" style="display: none">
    <div class="row">
        <div class="jumbotron">
            <div class="container">
                <h1>Welcome to WebAppEngine!</h1>
                <p>If you see this page, the WebAppEngine server is successfully installed and working. Further configuration is required.</p>
                <p>For online documentation please refer to <a href="http://cheton.github.io/webappengine/">http://cheton.github.io/webappengine/</a>.</p>
                <p><a class="btn btn-primary btn-lg" href="https://github.com/cheton/webappengine" role="button">Learn more »</a></p>
                <p><i>Thank you for using WebAppEngine.</i></p>
            </div>
        </div>
    </div>
</div>
<script src="{{webroot}}vendor.js"></script>
<script src="{{webroot}}app.js"></script>
</body>
</html>
